
<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Accounts:profileupdate' %}">
        <i class="fas fa-user-edit"></i>
        <span>Profile update</span>
    </a>
</li>


<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Accounts:passwordchange' %}">
        <i class="far fa-key"></i>
        <span>Change Password</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Accounts:reward' %}">
        <i class="far fa-gift"></i>
        <span>Reward</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Accounts:Certificate' %}" target="_blank">
        <i class="far fa-download"></i>
        <span>Download Certificate</span>
    </a>
</li>